/* defualt css defualt css defualt css defualt css defualt css defualt css defualt css defualt css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    background-color: white;
}

a {
    text-decoration: none;
}

:root {
    --black-color: black;
    --white-color: white;
    --primary-color: #0F1527;
    --green-color: #25AE88;
}

/* btn primary */
.btn_custom {
    color: var(--white-color);
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.btn_bg {
    background-color: var(--green-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 0;
    transition: 0.5s;

}

.btn_over {
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid var(--white-color);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    font-size: 14px;
    letter-spacing: 1.5px;
    transition: 0.5s;
    border-left-color: transparent;
}

.btn_custom:hover .btn_bg {
    left: 0%;
    top: -2;
}

.btn_custom:hover .btn_over {
    color: var(--primary-color);
    border-color: var(--green-color);
}


/* <!-- header --> */


ul {
    list-style: none;
    margin-bottom: 0;
}

header {
    padding: 15px 0 !important;
    background-color: var(--primary-color);
}

nav {
    z-index: 3 !important;
    margin-left: auto;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    display: block;
    padding: 0 15px;
    font-size: 14px !important;
    font-weight: 700;
    letter-spacing: 1px !important;
    transition: all 0.5s;
}

nav ul li a:hover{
    color: var(--green-color);
}

.navbar-toggle {
    color: #fff !important;
    border-radius: 5px;
    display: none;
    width: 50px;
    margin-left: auto;
}

.navbar-toggle i {
    color: white !important;
    font-size: 25px;
    font-weight: 600;
}


/* mediaquery */

@media (max-width: 767px) {
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        width: 200px;
        top: 0;
        left: -200px;
        bottom: 0;
        background-color: var(--primary-color);
        transition: .5s;
    }

    nav ul li i {

        filter: drop-shadow(0 0 0.19rem green);
    }

    nav ul li a {
        color: white;
        padding: 15px 5px;
        transition: 1s;
    }

    nav ul li a:hover {
        padding-bottom: 25px;
    }

    header.demo nav ul {
        left: 0;
    }
}

/* header end*/
/* header end*/
/* slider */
.carousel-item img {
    max-width: 130%;
    max-height: 100%;
    transform: scale(1.2);
}

.carousel-caption {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.carousel-caption p {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;
}

.carousel-caption h2 {
    font-size: 70px;
    padding-bottom: 10px;
}

.carousel-caption span {
    color: var(--green-color);
}

.carousel-indicators {
    bottom: 0px;
    /* margin: 20px 5px; */
}

.carousel {
    overflow: hidden;
    padding: 50px 0 !important;
}

.carousel-inner {
    overflow: visible;
    max-width: 100%;
}

.carousel-indicators button {
    width: 30px !important;
    height: 30px !important;
    background-color: white;
    color: var(--primary-color);
}

.carousel-indicators [data-bs-target] {
    text-indent: 1px !important;
}

/* service */
.bg_service {
    padding: 50px 0;
    background-color: var(--white-color);
    color: var(--black-color);
}

.service_items {
    width: calc(33.33% - 40px);
    text-align: center;
    padding: 30px 20px;
    margin: 0 20px;
    transition: 0.5s;
}

.service_items:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(5px);
}

.service_items:hover .img i {
    color: var(--green-color);
}

.service_items .img {
    padding-bottom: 25px;
}

.service_items .img i {
    font-size: 60px;
    transition: 0.5s;
}

.service_items .inner_heading {
    color: var(--black-color);
    font-weight: 500;
    letter-spacing: 0.7px;
    font-size: 22px;
    margin: 10px 0;
}

.service_items .inner_content {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

/* best services */
.bg_best_service {
    padding: 20px 0;
    background-image: url(../img/best_service/service_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    color: var(--white-color);
}

.heading .h1 {
    position: relative;
}

.heading .h1::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.service_body {
    padding: 50px 0;
}

.services_box {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    position: relative;
    border: 2px solid var(--green-color);
    background-image: url(../img/best_service/main_circle.png);
    background-size: small;
    background-position: center;
    background-repeat: no-repeat;
}

.best_items {
    position: absolute;
    width: 500px;
    color: var(--white-color);
}

.body_item {
    padding: 10px 15px !important;
    transition: 0.5s;
}

.best_items:hover .img {
    transform: rotate(360deg);
}

.best_items .body_item p {
    font-size: 14px;
}

.best_items .img {
    width: 160px;
    height: 80px;
    background-color: var(--green-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    transition: .5s;
}

/* extraa effect on best servies content*/
.body_conatent {
    backdrop-filter: blur(20px);
    overflow: hidden;
}

.body_inner {
    position: relative;
    overflow: hidden;
}

.body_bg {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: var(--white-color);
    opacity: 0.8;
    left: -10%;
    transition: 0.4s;
    z-index: -3;
    transform: skew(-15deg);
    visibility: hidden;
}

.best_items:hover .body_bg {
    left: 110%;
    visibility: visible;
    /* transform: skew(180deg); */
}

.services_box .best_items .body_item .img {
    order: 5 !important;
}

.services_box .best_items:nth-child(1) {
    top: 0;
    left: -85%;
    text-align: right;
}

.services_box .best_items:nth-child(2) {
    top: 50%;
    left: -95%;
    transform: translateY(-50%);
    text-align: right;
}

.services_box .best_items:nth-child(3) {
    bottom: 0%;
    left: -85%;
    text-align: right;
}

.services_box .best_items:nth-child(4) {
    top: 0%;
    right: -85%;
}

.services_box .best_items:nth-child(5) {
    top: 50%;
    right: -95%;
    transform: translateY(-50%);
}

.services_box .best_items:nth-child(6) {
    bottom: 0%;
    right: -85%;
}

/* trust */
.trust_img {
    background-image: url(../img/best_service/trust.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.trust_body {
    padding: 20px 80px 0 0;
    font-size: 14px;
    word-spacing: 2px;
}

.trust_body p {
    line-height: 2;
}

.trust_body ul {
    padding: 30px 0px 0 100px;
    list-style: none;
}

.trust_body ul li {
    padding: 5px 0;
    font-size: 16px;
}

.trust_body ul li span {
    font-size: 12px;
    color: var(--green-color);
    padding: 15px;
}


/*network  */
.bg_networks {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
}

/* bg help you */
.bg_help {
    padding: 50px 0;
    background-color: #0F1527;
    background-image: url(/img/help2.jpg);
    background-size: 80%;
    background-position: right;
    background-repeat: no-repeat;
}

.help_box {
    background-color: rgba(15, 21, 39, 0.5);
    color: var(--white-color);
    padding: 20px 100px;
}

.help_box p {
    color: var(--white-color);
    opacity: 0.7;
}